{{input placeholder="Filter by email" value=email}}
{{#link-to "events" (query-params email=email) class="btn"}}Filter{{/link-to}}
<a href="#" {{action "reset"}}>Reset</a>
<div class="row">
  <div class="column">
    <ul class="events">
      {{#each event in model}}
        <li>{{#link-to "events.show" event}}{{event.occurredAt}} - {{event.description}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  {{outlet}}
</div>
